.DS_Store
SandikSonuc/Pods/
SandikSonuc/SandikSonuc.xcworkspace/xcuserdata/
SandikSonuc/SandikSonuc.xcworkspace/xcshareddata/
SandikSonuc/SandikSonuc.xcodeproj/xcuserdata/
SandikSonuc/SandikSonuc.xcodeproj/project.xcworkspace/
